
#images{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
}

.colum{
    flex-basis: 50%;
}

img{
    width: 100%;
}

table{
    border: 1px solid black;
    border-collapse: collapse;
}

th,td{
    border:1px solid black;
}

th{
    background-color: #C0C0C0;
}